.nettoyeur {
  clear: both;
  height: 1px;
  line-height: 1px;
  margin: 0;
  padding: 0; }

body {
  font-family: verdana;
  background: #eee; }
  body #connect_bar {
    background: #ccc;
    border-bottom: 1px solid #aaa;
    color: #fff;
    font-size: 0.8em;
    font-weight: bold; }
    body #connect_bar ul {
      margin: 0 auto;
      list-style-type: none; }
  body #page {
    font-family: verdana;
    font-size: 1em;
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    border-left: 1px solid #B9B9B9;
    border-right: 1px solid #B9B9B9;
    padding: 0 30px;
    min-height: 300px; }
    body #page header.page {
      background: #ECEFF5;
      padding: 8px 24px 24px;
      border-left: 1px solid #C4C9DB;
      border-right: 1px solid #C4C9DB;
      border-bottom: 1px solid #C4C9DB;
      margin-bottom: 20px; }
      body #page header.page nav#menu ul.menu {
        position: relative;
        margin: 0;
        padding: 0; }
        body #page header.page nav#menu ul.menu li.menu {
          display: inline-block; }
          body #page header.page nav#menu ul.menu li.menu a {
            display: block;
            padding: 4px 8px;
            margin: 4px;
            color: #fff;
            background-color: #aab7e3;
            -moz-border-radius: 9px;
            -webkit-border-radius: 9px;
            border-radius: 9px;
            /*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
            text-decoration: none;
            font-weight: bold;
            text-transform: uppercase;
            font-size: 1.2em; }
            body #page header.page nav#menu ul.menu li.menu a:visited {
              color: #fff; }
            body #page header.page nav#menu ul.menu li.menu a:hover {
              color: #ccc; }
            body #page header.page nav#menu ul.menu li.menu a:focus {
              color: #ccc; }
            body #page header.page nav#menu ul.menu li.menu a:active, body #page header.page nav#menu ul.menu li.menu a.on {
              color: #ccc; }
          body #page header.page nav#menu ul.menu li.menu ul.sousmenu {
            margin: 0;
            padding: 0;
            position: absolute;
            left: 0; }
            body #page header.page nav#menu ul.menu li.menu ul.sousmenu li {
              display: inline-block; }
              body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a {
                color: #000;
                background-color: #fff;
                font-size: 1em; }
                body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a:visited {
                  color: #000; }
                body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a:hover {
                  color: #ccc;
                  background: #eee; }
                body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a:focus {
                  color: #eee; }
                body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a:active, body #page header.page nav#menu ul.menu li.menu ul.sousmenu li a.on {
                  color: #eee; }
            body #page header.page nav#menu ul.menu li.menu ul.sousmenu li.on a {
              color: #ccc;
              background: #eeeeee; }
        body #page header.page nav#menu ul.menu li.menu.on a {
          color: #000; }
        body #page header.page nav#menu ul.menu li.menu.off > ul {
          display: none; }
    body #page footer {
      clear: both;
      height: 50px; }
    body #page section#content .widget-client {
      position: relative; }
      body #page section#content .widget-client div.mini-tool {
        right: 4px;
        top: -4px; }
    body #page section#content div.mini-tool {
      position: absolute; }
      body #page section#content div.mini-tool a {
        font-size: 0.8em;
        font-weight: bold;
        text-decoration: none;
        color: #ffb391; }
    body #page section#content div.ui-state-highlight {
      height: 24px; }
    body #page section#content div.line {
      position: relative; }
      body #page section#content div.line a.grip {
        position: absolute;
        left: -24px;
        top: 3px;
        width: 24px;
        height: 24px;
        background: url("../images/grip.png"); }
      body #page section#content div.line div.mini-tool {
        right: 4px;
        top: 28px; }
      body #page section#content div.line li {
        position: relative;
        padding: 3px; }
        body #page section#content div.line li input, body #page section#content div.line li select, body #page section#content div.line li textarea {
          padding: 2px; }
        body #page section#content div.line li li.line_suppr {
          width: 30px;
          padding: 6px 0 0 10px; }
    body #page section#content #contLine {
      padding: 20px;
      margin: 30px 10px 40px; }
    body #page section#content #contSave {
      float: right;
      border-top: 1px solid #ccc;
      margin-top: 40px;
      width: 100%;
      background: #F3F6F6;
      padding: 0 20px 20px; }
      body #page section#content #contSave #param_acompte {
        position: absolute;
        margin-top: 20px;
        float: left;
        display: none; }
    body #page section#content #total {
      font-size: 0.9em;
      width: 300px;
      margin: 30px 60px 0 0;
      float: right; }
      body #page section#content #total td:first-child {
        background: #eee; }
      body #page section#content #total td {
        border: 1px solid #ccc;
        border-collapse: collapse;
        padding: 8px;
        text-align: right; }
  body #footer {
    clear: both;
    height: 200px;
    background: #ddd;
    border-top: 1px solid #aaa; }

form .ui-button {
  height: 28px; }
form input, form select, form textarea, form .ligne li {
  padding: 4px;
  background: #eee;
  border: 1px solid #ddd;
  min-height: 12px; }
form div.field input, form div.field select, form div.field textarea, form div.field .ligne li {
  width: 80%;
  margin-bottom: 12px; }
form .ui-state-default, form .ui-widget-content .ui-state-default, form .ui-widget-header .ui-state-default {
  background: #eee; }
form label {
  display: block;
  font-size: 0.8em;
  font-weight: bold; }
form textarea {
  font-size: 1em; }

a.bouton, input.bouton {
  color: #fff; }

.bouton {
  background-color: #91c5ff;
  border: 1px solid #d9daff;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  border-radius: 8px;
  padding: 6px 8px;
  color: #fff;
  font-weight: normal;
  display: inline-block;
  font-size: 1em;
  text-decoration: none; }
  .bouton:visited {
    color: #fff; }
  .bouton:hover, .bouton:focus, .bouton:active {
    opacity: 0.6;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=60); }

.bouton[disabled] {
  opacity: 0.3;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
  /*-ms-filter must come before filter*/
  filter: alpha(opacity=60); }
  .bouton[disabled]:visited .bouton[disabled]:hover, .bouton[disabled]:focus, .bouton[disabled]:active {
    opacity: 0.3;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
    /*-ms-filter must come before filter*/
    filter: alpha(opacity=60); }

.bouton_orange {
  background-color: #ffb391;
  color: #000; }

table {
  font-size: 0.8em; }
  table thead th {
    position: relative; }

.DataTables_sort_icon {
  position: absolute;
  right: 4px;
  top: 4px; }

.css_left {
  float: left; }

#qtip-growl-container {
  position: fixed;
  top: 10px;
  right: 10px; }

#qtip-growl-container .qtip {
  position: static;
  min-height: 0;
  overflow: hidden;
  margin: 0 0 5px 0; }

.qtip-default .qtip-titlebar {
  background-color: #748C9E; }

.qtip-content {
  padding: 10px; }

.qtip-default {
  border-color: #A2B2C7;
  background-color: #C5D2DF;
  color: #FFF;
  font-size: 1em; }

.custom-combobox-input {
  width: 300px; }

input[type=image] {
  border-radius: 0;
  background: none;
  padding: 0; }

.ui-autocomplete {
  max-height: 250px;
  overflow: auto;
  font-size: 0.8em; }
