
$base-font-size: 16px;
@function em($target, $context: $base-font-text)
{
	@if target == 0  {@return 0}
	@return $target / $context + 0em
}

.nettoyeur 
{
	clear:both;
	height:1px;
	line-height:1px;
	margin:0;
	padding:0;
}
body 
{
	font-family: verdana;
	background:#eee;
	#connect_bar 
	{
		background: #ccc;
		border-bottom: 1px solid #aaa;
		color:#fff;
		font-size:0.8em; 
		font-weight:bold;
		ul{
			margin: 0 auto;
			list-style-type:none;
		}
	}
	#page 
	{
		font-family:verdana;
		font-size:1em;
		width: 1200px;
		margin: 0 auto;
		background: #fff;
		border-left: 1px solid #B9B9B9;
		border-right: 1px solid #B9B9B9;
		padding: 0 30px;
		min-height:300px;
		header.page 
		{
			background: #ECEFF5;
			padding: 8px 24px 24px;
			border-left: 1px solid #C4C9DB;
			border-right: 1px solid #C4C9DB;
			border-bottom: 1px solid #C4C9DB;
			margin-bottom: 20px;
			nav#menu 
			{
				
				ul.menu
				{
					position:relative;
					margin:0;
					padding:0;
					li.menu 
					{
						display:inline-block;
						a 
						{
							display: block;
							padding: 4px 8px;
							margin: 4px;
							color: #fff;
							background-color: #aab7e3;
							-moz-border-radius: 9px;
							-webkit-border-radius: 9px;
							border-radius: 9px;
							/*IE 7 AND 8 DO NOT SUPPORT BORDER RADIUS*/
							text-decoration:none; 
							font-weight:bold; 
							text-transform:uppercase; 
							font-size:1.2em;
							&:visited { color: #fff;}
							&:hover { color: #ccc; }
							&:focus { color: #ccc; }
							&:active, &.on { color: #ccc;}
						}
						
						ul.sousmenu 
						{
							margin:0;
							padding:0;
							position: absolute;
							left: 0;
							li 
							{
								display:inline-block;
								a
								{
									color:#000;
									background-color : #fff;
									font-size:1em;
									&:visited { color: #000;}
									&:hover { color: #ccc; background:#eee}
									&:focus { color: #eee; }
									&:active, &.on { color: #eee;}
								}
							}
							li.on 
							{
								a 
								{
									color: #ccc; background:#eee
								}
							}
						}
					}
					li.menu.on 
					{
						a 
						{
							color:#000;
						}
					}
					li.menu.off > ul 
					{
						display:none;
					}
				}
					
			}
		}
		footer {
			clear:both;
			height: 50px;
			
		}
		section#content 
		{
			.widget-client{ 
				position:relative;
				div.mini-tool {
					right: 4px;
					top: -4px;
				}
			}
			div.mini-tool {
				position: absolute;
				a {
					font-size: 0.8em;
					font-weight: bold;
					text-decoration: none;
					color: #ffb391;
				}
			}
			div.ui-state-highlight{
			height:24px;
			}
			div.line
			{
				position:relative;
				
				a.grip{
					position: absolute;
					left: -24px;
					top: 3px;
					width:24px;
					height:24px;
					background:url("../images/grip.png");
				}
				
				div.mini-tool {
							right: 4px;
							top: 28px;
				}
				li {
					position:relative;
					padding:3px;
					input, select, textarea{
					padding:2px;
						
						
				}
					
				li.line_suppr {
						width: 30px;
						padding: 6px 0 0 10px;
					}
				}
			}
			
			
			
			#contLine {
				padding: 20px;
				margin: 30px 10px 40px;
				
			}
			#contSave {
				float: right;
				border-top: 1px solid #ccc;
				margin-top: 40px;
				width: 100%;
				background: #F3F6F6;
				padding: 0 20px 20px;
				#param_acompte {
					position: absolute;
					margin-top: 20px;
					float: left;
					display: none;
				}
			}
			#total 
			{
				font-size:0.9em;
				width:	300px;
				margin: 30px 60px 0 0;
				float:right;
				td:first-child 
				{
					background:#eee;
				}
				td
				{
					border:1px solid #ccc;
					border-collapse:collapse;
					padding:8px;
					text-align: right;
				}
			}
		}
		
		
	}
	#footer {
		clear:both;
		height: 200px;
		background: #ddd;
		border-top: 1px solid #aaa;
	}
	
}

form {
	.ui-button {height:28px;}
	input, select, textarea,  .ligne li{
			padding:4px; 
			background:#eee;
			border:1px solid #ddd;
			min-height: 12px;
			
		}
	div.field {
		input, select, textarea,  .ligne li{
			
			width:80%;
			margin-bottom:12px;
		}
	}
	.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
		background:#eee;
	}
	label {
		display:block;
		font-size:0.8em;
		font-weight:bold;
	}
	textarea { font-size:1em;}
}

a.bouton, input.bouton {color:#fff}
.bouton {
	background-color: #91c5ff;
	border: 1px solid #d9daff;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	padding: 6px 8px;
	color: #fff;
	font-weight: normal;
	display:inline-block;
	font-size:1em;
	text-decoration: none;
	&:visited { color: #fff;}
    &:hover, &:focus, &:active {
		opacity: 0.6;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
		/*-ms-filter must come before filter*/
		filter: alpha(opacity = 60);
	}
}

.bouton[disabled]{
		opacity: 0.3;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
		/*-ms-filter must come before filter*/
		filter: alpha(opacity = 60);
	&:visited &:hover, &:focus, &:active {
		opacity: 0.3;
		-ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity = 60);
		/*-ms-filter must come before filter*/
		filter: alpha(opacity = 60);
	}
}

.bouton_orange {
	background-color: #ffb391;
	color :#000;
}
table {
	font-size:0.8em;
	thead {
		th {
			position:relative;
		}
	}
	tbody {
		td {
		
		}
	}
}
.DataTables_sort_icon {
	position: absolute;
right: 4px;
top: 4px;
}

.css_left {
	float: left;
}
#qtip-growl-container{
    position: fixed;
    top: 10px; right: 10px;
}
#qtip-growl-container .qtip{
	position: static;
	min-height: 0;
	overflow: hidden;
	margin: 0 0 5px 0;
}

.qtip-default .qtip-titlebar {
	background-color: #748C9E;
}

.qtip-content {
	padding:10px;
}
.qtip-default {
	border-color: #A2B2C7;
	background-color: #C5D2DF;
	color: #FFF;
	font-size:1em;
}

.custom-combobox-input {width:300px;}

input[type=image] {
	border-radius: 0;
	background: none;
	padding: 0;
}

.ui-autocomplete {
	max-height: 250px;
	overflow: auto;
	font-size: 0.8em;
}