﻿<h2>Technique</h2>
<div>
	<form method="POST">
		<input type="hidden" name="to"  value="technique" />
		<input type="hidden" name="page" value ="contact_send" />
		<ul>
			<li>
				<div class="field  pa1 w50">
					<label for="email">Votre e-mail</label>
					<input type="text" id="email" name="email" value="{SESSION[user][email]}" />
				</div>
				</li>
			<li>
				<div class="field  pa1 w50">
					<label for="message">Votre message</label>
					<textarea name="message" id="message"></textarea>
				</div>
			</li>
				<li>
				<div class="field  pa1 w25">
				<label for="real">Code de vérification</label>
					<input type="text" id="real" name="real" />
				</div>
			</li>
			<li>
				<input type="submit" value="envoyer" class="bouton bouton_orange"/>
			</li>
		</ul>
	</form>
</div>
<script>
	$(document).ready(function(){
		$('#real').realperson({length: 4,regenerate: ''});
		
		$('#form_contact').validate({
	    rules: {
			email: 
			{
				required: true,
				email: true
			},
			message: "required",
			real: 
			{
				required: true,
				remote: 
				{
					url: "ajax/captcha.php",
					type: "post",
					data: {
						real:  function(){return $("#real").val()},
						realHash: function(){return $("input[name=realHash]").val()}
					}
				}
			}
	    },
		messages: 
		{
			email: 
			{
				required: 'Vous devez renseigner l\'email',
				email: 'Ce n\'est pas un email'
			},
			message: "Vous devez écrire un message",
			real: "Mauvais code de vérification "
		}
	  });
	});
</script>