<li class="col pr2">
	<label>&nbsp;</label>
	<input type="button" class="bouton bouton_orange" rel="devis" id="transferer_acompte_param" value="Facture d'acompte" />
	<div id="param_acompte">
		<ul class="table">
			<li class="col pr2">
				<label>Montant HT</label>
				<input type="text" name="acompte_montantHT" class="acompte_montantHT" />
			</li>
			<li class="col pr2">
				<label>TVA</label>
				<input type="text"  name="acompte_tva"  class="acompte_tva" />
				<select  name="taux_tva" class="taux_tva">
					<option value="0.2" selected>20%</option>
					<option value="0.196" >19.6%</option>
					<option value="0.085">8.5%</option>
					<option value="0.07">7%</option>
					<option value="0.055">5.5%</option>
					<option value="0.021">2.1%</option>
					<option value="0">0%</option>
				</select>
			</li>
			<li class="col pr2">
				<label>&nbsp;</label>
				<input type="button" class="bouton bouton_orange" rel="devis" id="transferer_acompte" value="Facture d'acompte" />
			</li>
		</ul>
	</div>
</li>