<h4>Devis N°{NUM_DEVIS} en date du {DATE_DEVIS}</h4>
<form>
	<input type="hidden" name="numero_piece" value="{NUM_DEVIS}" />
	<input type="hidden" name="code_interne" value="{CODE_INTERNE}" />
	<input type="hidden"  name="client_id" id="clients" value="{ID_CLIENT}" />
	<input type="hidden"  name="moyenReglement"  value="{CODE_MODEREGLEMENT}" />
	<input type="hidden"  name="totalAcompte"  value="{TOTAL_ACOMPTE}" />
	<ul class="table">
		<li class="col pa1">
			<label for="date_echeance">Mode de règlement</label>
			<div class="field"><input type="text" name="moyenReglement" value="{MODEREGLEMENT}" readonly /></div>
		</li>
		<li class="col pa1">
			<label for="date_echeance">Client</label>
			<div class="field"><input type="text"  value="{CLIENT}" readonly /></div>
		</li>
	</ul>
		
	<ul class="table">
		<li class="col pr2">
			<label for="objet">Intitulé</label>
			<div class="field intitule"><input type="text" name="intitule" value="{INTITULE}" class="w100" readonly /></div>
			<div class="table_entete"><ul class="table"><li class="col pa1 w500p"><label>Libellé</label></li><li class="col pa1 w50p"><label>Quantité</label></li><li class="col pa1 w100p"><label>TVA</label></li><li class="col pa1 w100p"><label>P.U. HT</label></li><li class="col pa1 w100p"><label>total. HT</label></li></ul></div>
			<section id="facturation">
				{LIGNES}
			</section>
		</li>
	</ul>
	
	<!-- total -->
	<table id="total" >
		<tr><td>SOUS-TOTAL HT</td><td id="sousTotalHT">{SOUSTOTALHT}</td></tr>
		<tr><td>Remise (%)</td><td id="remise_globale"><input type="text" name="remise_globale" value="{REMISE}" readonly/></td></tr>
		<tr><td>TOTAL HT</td><td id="totalHT"><div class="field">{TOTALHT}</td></tr>
		<tr><td>TVA</td><td id="totalTVA">{TVA}</td></tr>
		<tr><td>TOTAL TTC</td><td id="totalTTC">{TOTALTTC}</td></tr>
		{LIGNE_ACOMPTE}
	</table>
	<br class="nettoyeur" />
	<!-- sauvegarde -->
	<br class="nettoyeur" />
	<div id="liste_acomptes">
	{LISTE_ACOMPTES}
	</div>
	<!-- sauvegarde -->
	<div id="contSave">
		<ul class="table" >
			{BOUTON_ACOMPTE}
			{BOUTON_SOLDE}
			<li class="col pr2">
				<label>&nbsp;</label>
				<input type="button" rel="devis|{NUM_DEVIS}|pdf" class="bouton export_piece" value="Export PDF" />
			</li>
		</ul>
	</div>
</form>
