<form >
	<ul class="table">
		<li class="col pa1">
			<label for="numero_devis">Numéro de la devis</label>
			<input type="text" name="numero_piece" class="ui-corner-all" value="{NUM_DEVIS}" readonly/>
			<input type="hidden" name="code_interne" value="{CODE_INTERNE}"/>
		</li>
		<li class="col pa1">
			<label for="date_piece">Date devis</label>
			<input type="text" name="date_piece" class="ui-corner-all" value="{DATE_DEVIS}" readonly/>
		</li>
		<li class="col pa1">
			<label for="date_echeance">Date d'échéance</label>
			<input type="text" name="date_echeance" class="ui-corner-all"  value="{DATE_ECHEANCE}"/>
		</li>
	</ul>
	<ul class="table">
		<li class="col pa1">
			<label>Règlement</label>
			<select name="moyenReglement">
				{LISTE_MODEREGLEMENT}
			</select>
		</li>
		<li class="col pa1">
			<div class="ui-widget">
				<label >Client</label>
				<select name="client_id" id="clients">
					{LISTE_CLIENTS}
				</select>
			</div>
		</li>
	</ul>
	<h3>Devis</h3>
	<ul class="table">
		<li class="col pr2">
			<label for="objet">Intitulé</label><input type="text" name="intitule"  class="w100"/>
			<input type="hidden" name="n_line" value="0" />
			<div class="table_entete"><ul class="table"></li><li class="col pa1 w500p"><label>Libellé</label></li><li class="col pa1 w50p"><label>Qté</label><li class="col pa1 w100p"><label>TVA</label></li><li class="col pa1 w100p"><label>P.U. HT</label></li><li class="col pa1 w100p"><label>total. HT</label></li></ul></div>
			<section id="facturation">

			</section>
		</li>
	</ul>
	
	<!-- total -->
	<table id="total" >
		<tr><td>SOUS-TOTAL HT</td><td id="sousTotalHT">&nbsp;</td></tr>
		<tr><td>Remise (%)</td><td  ><input type="text" name="remise_globale" value="" /></td></tr>
		<tr><td>TOTAL HT</td><td  id="totalHT">&nbsp;</td></tr>
		<tr><td>TVA</td><td  id="totalTVA">&nbsp;</td></tr>
		<tr><td>TOTAL TTC</td><td  id="totalTTC">&nbsp;</td></tr>
	</table>
	<!-- contrôles lignes-->
	<ul class="table">
		<li class="col pr2">
			<label>&nbsp;</label>
			<input type="button" class="bouton" value="Nouveau titre" id="new_title" />
		</li>
		<li class="col pr2">
			<label>&nbsp;</label>
			<input type="button" class="bouton" value="Nouveau commentaire" id="new_com" />
		</li>
	</ul>
	{LISTE_SERVICES}
	{LISTE_PRODUITS}
	
	
	<!-- sauvegarde -->
	<div  id="contSave">
		<ul class="table">
			
			<li class="col pr2">
				<label>&nbsp;</label>
				<input type="button" class="bouton bouton_orange" value="Sauver devis" rel="devis" id="save" />
			</li>
			
			<li class="col pr2">
				<label>&nbsp;</label>
				<input type="button" class="bouton " value="Export PDF" id="pdf" />
			</li>
		</ul>
	</div>
</form>
<script type="text/javascript">
	$(document).ready(function() {
		$( "#clients").combobox();
		$("select[name=produit]").combobox();
		$("select[name=service]").combobox();
		$.datepicker.regional['fr'] = {
			  closeText: 'Fermer',
			  prevText: '<Préc',
			  nextText: 'Suiv>',
			  currentText: 'Courant',
			  monthNames: ['Janvier','Février','Mars','Avril','Mai','Juin',
			  'Juillet','Août','Septembre','Octobre','Novembre','Décembre'],
			  monthNamesShort: ['Jan','Fév','Mar','Avr','Mai','Jun',
			  'Jul','Aoû','Sep','Oct','Nov','Déc'],
			  dayNames: ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'],
			  dayNamesShort: ['Dim','Lun','Mar','Mer','Jeu','Ven','Sam'],
			  dayNamesMin: ['Di','Lu','Ma','Me','Je','Ve','Sa'],
			  weekHeader: 'Sm',
			  //dateFormat: 'dd/mm/yy',
						dateFormat: 'dd/mm/yy',
			  firstDay: 1,
			  isRTL: false,
			  showMonthAfterYear: false,
			  yearSuffix: ''};
		$.datepicker.setDefaults($.datepicker.regional['fr']);
		
		$( "input[name=date_piece]" ).datepicker({
			showButtonPanel: true
		});
		$( "input[name=date_echeance]" ).datepicker({
			showButtonPanel: true
		});
	});
</script>