<form method="POST">
<section class="w100">
	<fieldset class="w50 left">
		
		<div class="field">
			<label for="reference">Référence {ERROR_reference}</label>
			<input type="text" name="reference" id="reference" value="{T08_reference_va}" class="{class_ERROR_reference}"/>
		</div>
		<div class="field">
			<label for="libelle">Libellé {ERROR_libelle}</label>
			<input type="text" name="libelle" id="libelle" value="{T08_libelle_va}" class="{class_ERROR_libelle}" />
		</div>
		<div class="field">
			<label for="type_article">Type {ERROR_type_article}</label>
			<select name="type_article" id="type_article" class="{class_ERROR_type_article}">
				{T10_code_type_va}
			</select>
		</div>
		<div class="field">
			<label for="taux_tva">Taux de TVA {ERROR_taux_tva}</label>
			<select name="taux_tva" id="taux_tva" class="{class_ERROR_taux_tva}">
				{T09_codeinterne_i}
			</select>
		</div>
		<div class="field">
			<label for="prixht">Prix HT {ERROR_prixht}</label>
			<input type="text" name="prixht" id="prixht" value="{T08_prixht_d}"  class="{class_ERROR_prixht}"/>
		</div>
		
	</fieldset>
	
	</section>
	<br class="nettoyeur" />
	<input type="submit" class="bouton" name="submit" />
</form>