<script type="text/javascript" src="templates/scripts/jquery.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery-ui.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.qtip.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.combobox.js"></script>
<script type="text/javascript" src="templates/scripts/social-connect.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.validate.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.realperson.min.js"></script>
<script type="text/javascript" src="templates/scripts/jquery.autosize.min.js"></script>
<script type="text/javascript" src="templates/scripts/fancyBox/source/jquery.fancybox.pack.js?v=2.1.5"></script>
<script type="text/javascript" src="templates/scripts/html5.js"></script>
<script type="text/javascript" src="templates/scripts/md5.js"></script>
<script type="text/javascript" src="templates/scripts/spin.js"></script>
<script type="text/javascript" src="templates/scripts/lanceur.js"></script>

<!--[if IE 6]>
<script src="templates/scripts/DD_belatedPNG.js"></script>
<script>
  DD_belatedPNG.fix('.png');
</script>
<![endif]--> 