	<link rel="stylesheet" type="text/css" href="templates/css/knacss.css"  />
<link rel="stylesheet" type="text/css" href="templates/css/jquery-ui.min.css"  />
<link rel="stylesheet" type="text/css" href="templates/css/jquery.qtip.min.css"  />
<link rel="stylesheet" type="text/css" href="templates/css/jquery.dataTables.css"  />
<link rel="stylesheet" type="text/css" href="templates/css/jquery.realperson.css"  />
<link rel="stylesheet" type="text/css" href="templates/scripts/fancyBox/source/jquery.fancybox.css?v=2.1.4" media="screen" />
<link rel="stylesheet" type="text/css" href="templates/css/style.css"  />