<form method="POST">
<h3>Coordonnées</h3>
<section class="line w100 grid3">
	<div >
		<div class="field">
			<label for="raisonsociale">Raison sociale {ERROR_raison_sociale}</label>
			<input type="text" name="raison_sociale" id="raison_sociale" value="{T03_raison_sociale_va}" class="{class_ERROR_raison_sociale}"/>
		</div>
		<div class="field">
			<label for="service">Service {ERROR_service}</label>
			<input type="text" name="service" id="service" value="{T03_service_va}" class="{class_ERROR_service_sociale}"/>
		</div>
		<div class="field">
			<label for="formejuridique">Forme juridique {ERROR_formejuridique}</label>
			<select name="formejuridique" id="formejuridique" class="{class_ERROR_formejuridique}">
				{T10_code_formejuridique_va}
			</select>
		</div>
		<div class="field">
			<label for="siret">Siret {ERROR_siret}</label>
			<input type="text" name="siret" id="siret" value="{T03_siret_va}"  class="{class_ERROR_siret}" />
		</div>
		<div class="field">
			<label for="num_tva">Numéro de TVA intracommunautaire {ERROR_num_tva}</label>
			<input type="text" name="num_tva" id="num_tva" value="{T03_num_tva_va}"  class="{class_ERROR_num_tva}" />
		</div>
	</div>
	<div >
		<div class="field">
			<label for="adresse1">Adresse {ERROR_adresse1}</label>
			<input type="text" name="adresse1" id="adresse1" value="{T03_adresse1_va}" class="{class_ERROR_adresse1}" />
			<input type="text" name="adresse2" id="adresse2" value="{T03_adresse2_va}" />
		</div>
		<div class="field">
			<label for="codepostal">Code postal {ERROR_codepostal}</label>
			<input type="text" name="codepostal" id="codepostal" value="{T03_codepostal_va}"  class="{class_ERROR_codepostal}"/>
		</div>
		<div class="field">
			<label for="ville">Ville {ERROR_ville}</label>
			<input type="text" name="ville" id="ville" value="{T03_ville_va}" class="{class_ERROR_ville}" />
		</div>
		<div class="field">
			<label for="ville">Pays {ERROR_pays}</label>
			<input type="text" name="pays" id="pays" value="{T03_pays_va}" class="{class_ERROR_pays}" />
		</div>
	</div>
	<div >
		<div class="field">
			<label for="adresse1">Site web {ERROR_site_web}</label>
			<input type="text" name="site_web" id="site_web" value="{T03_site_web_va}" class="{class_ERROR_site_web}" />
		</div>
		<div class="field">
			<label for="codepostal">Téléphone {ERROR_telephone}</label>
			<input type="text" name="telephone" id="telephone" value="{T03_telephone_va}"  class="{class_ERROR_codepostal}"/>
		</div>
	</div>
	
	</section>
	<input type="submit" class="bouton" name="submit" />
</form>